  .Gcard {
    width: 30%;
    background-color:#00b37d;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
    padding: 10px;
    float: left;
    margin: 10px;
  }

  .Rcard {
    width: 30%;
    background-color:red;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
    padding: 10px;
    float: left;
    margin: 10px;
  }

  .Bcard {
    width: 30%;
    background-color:blue;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
    padding: 10px;
    float: left;
    margin: 10px;
  }
  
  