.Danger {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
   
}
.Danger:hover {
    background-color: darkred;
}